# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
ios/Flutter/*.sh
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/local.properties
android/gradle.properties
android/captures/
android/app/google-services.json    # 핵심!

# Firebase
/android/app/google-services.json

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dartserviceAccountKey.json.json
